
body {
  overflow-x: hidden;
}

/* DARK */

.dark-theme body,
.dark-theme .MuiInputBase-root,
.dark-theme .MuiPaper-root {
  background: #050709;
  color: #fff;
}

.dark-theme .MuiAppBar-root {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.dark-theme .MuiAppBar-colorTransparent {
  color: inherit;
  background-color: transparent;
}

.dark-theme .MuiPaper-root {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.dark-theme .MuiPaper-outlined {
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.dark-theme .MuiFormLabel-root {
  color: rgba(255, 255, 255, 0.7);
}

.dark-theme .MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.23);
}

.dark-theme .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
}

.dark-theme .MuiDrawer-paperAnchorDockedLeft {
  border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.dark-theme .MuiListItem-root.Mui-selected,
.dark-theme .MuiListItem-root.Mui-selected:hover {
  background-color: rgba(255, 255, 255, 0.16);
}

.dark-theme
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #b93cf6;
  border-width: 2px;
}

.dark-theme .MuiTableCell-head {
  color: #fff;
}

.dark-theme .MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: #fff;
}

.dark-theme .MuiTableCell-root {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.dark-theme .MuiTableCell-body {
  color: #fff;
}

.dark-theme .MuiTablePagination-root {
  color: #fff;
}

.dark-theme .MuiIconButton-root.Mui-disabled {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.dark-theme .MuiSelect-icon {
  color: #fff;
}

.dark-theme .MuiTypography-colorTextPrimary {
  color: #fff;
}

.dark-theme .MuiTypography-colorTextSecondary {
  color: rgba(255, 255, 255, 0.7);
}

.dark-theme
  .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active
  .MuiTableSortLabel-icon {
  color: rgba(255, 255, 255, 0.7);
}

.dark-theme .MuiIconButton-root {
  color: #fff;
}

.dark-theme .MuiIconButton-root:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.dark-theme .MuiToggleButton-root {
  border: 1px solid rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.38);
}

.dark-theme .MuiToggleButton-root.Mui-selected {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.12);
}

.dark-theme .MuiListItemIcon-root {
  color: #fff;
}